/*---------------------------
	Fonts
----------------------------*/
@import url('https://fonts.googleapis.com/css?family=Heebo:400,500,700|Lato:400,400i,700');

// fonts
$base-font-size: 15;
$base-font: 'Lato', sans-serif;
$heading-font: 'Heebo', sans-serif;



// color
$dark-gray: #2a2a2a;
$white: #fff;
$black: #000;

$theme-primary-color: #ff5e14;
$theme-secondary-color: #0d1e2d;
$body-bg-color: $white;
$section-bg-color: #edecec;
$text-color: #73787d;
$heading-color: #272e33;
