/*****************************
	blog sidebar
******************************/
.blog-sidebar {
	max-width: 300px;
	margin-left: auto;
	
	@include media-query(991px) {
		max-width: 300px;
		padding-left: 0;
		margin-top: 80px;
		margin-left: 0;
	}

	@include media-query(767px) {
		margin-top: 70px;
	}

	ul {
		list-style: none;
	}

	> .widget + .widget {
		margin-top: 45px;
	}

	.widget > h3 {
		font-size: 20px;
		font-size: calc-rem-value(20);
		font-weight: 500;
		color: #051829;
		margin: 0 0 0.65em;
		position: relative;
		text-transform: uppercase;

		@include media-query(991px) {
			font-size: 18px;
			font-size: calc-rem-value(18);
		}
	}

	/*** search-widget ***/
	.search-widget,
	.news-letter-widget {
		div {
			position: relative;
		}

		input {
			height: 40px;
			border: 1px solid #e5e5e5;
			padding: 6px 80px 6px 15px;
			border-radius: 0;
			box-shadow: none;
		}

		button {
			background-color: $theme-primary-color;
			width: 50px;
			height: 40px;
			line-height: 40px;
			color: $white;
			border: 0;
			outline: 0;
			position: absolute;
			right: 0;
			top: 0;
		}

		button:hover {
			background-color: darken($theme-primary-color, 10%);
		}
	}

	/*** categories-widget ***/
	.categories-widget {

		ul {
			background-color: #eff7fa;
			padding: 14px 25px;
		}
		
		ul > li + li {
			border-top: 1px solid #e0e6e8;
		}

		ul a {
			display: block;
			color: #666;
			padding: 10px 0;
			position: relative;
		}

		ul a:hover {
			color: $theme-primary-color;
		}

		ul a span {
			position: absolute;
			right: 0;

			&:before {
				content: "(";
				position: relative;
				top: 1px;
			}

			&:after {
				content: ")";
				position: relative;
				top: 1px;
			}
		}
	}

	/*** recent-post-widget ***/
	.recent-post-widget {
		.posts {
			background-color: #eff7fa;
			padding: 30px 20px 10px;
		}

		.post {
			overflow: hidden;
		}

		> .post + .post {
			padding-top: 20px;
			border-top: 1px solid #e8e8e8;
		}

		.entry-media {
			width: 75px;
			float: left;
			margin-bottom: 20px;
		}

		.entry-details {
			width: calc(100% - 75px);
			float: left;
			padding-left: 15px;
		}

		.entry-details h4 {
			font-size: 15px;
			font-size: calc-rem-value(15);
			font-weight: normal;
			line-height: 1.4em;
			margin: 0 0 0.3em;

			@include media-query(767px) {
				font-size: 14px;
				font-size: calc-rem-value(14);
			}
		}

		.entry-details h4 a {
			color: #051829;
		}

		.entry-details h4 a:hover {
			color: $theme-primary-color;
		}

		.date {
			font-size: 14px;
			font-size: calc-rem-value(14);
			color: #bebfc0;
		}
	}


	/*** tagcloud-widget ***/
	.tagcloud-widget {
		> div {
			margin: 0 -5px;
		}

		a {
			background-color: #f8f8fa;
			font-size: 13px;
			font-size: calc-rem-value(13);
			color: #696e71;
			padding: 7px 10px;
			margin: 5px 3px;
			border: 1px solid #f2f2f2;
			display: inline-block;
		}

		a:hover {
			background-color: $theme-primary-color;
			color: $white;
		}
	}

	/*** news-letter-widget ***/
	.news-letter-widget {
		input {
			background-color: #e9ebec;
			height: 46px;
			box-shadow: none;
		}

		button {
			height: 46px;
			line-height: 46px;
			border-left: 2px solid $white;
		}
	}

}