.theme-btn {
	font-family: $heading-font;
	background-color: $white;
	font-size: 16px;
	font-size: calc-rem-value(16);
	font-weight: 500;
	color: $theme-primary-color;
	padding: 11px 30px;
	border-radius: 2px;
	display: inline-block;

	@include media-query(991px) {
		font-size: 15px;
		font-size: calc-rem-value(15);
		padding: 9px 25px;
	}

	@include media-query(767px) {
		font-size: 14px;
		font-size: calc-rem-value(14);
		padding: 8px 22px;
	}

	&:hover {
		background-color: $theme-primary-color;
		color: $white;
	}
}

.theme-btn-s2 {
	@extend .theme-btn;
	background-color: $theme-primary-color;
	color: $white;

	&:hover {
		background-color: darken($theme-primary-color, 5%);
		color: $white;
	}
}

.theme-btn-s3 {
	@extend .theme-btn-s2;
	background-color: $theme-secondary-color;
	color: $white;

	&:hover {
		background-color: $theme-primary-color;
	}
}

.theme-btn-s4 {
	@extend .theme-btn-s2;
	background-color: transparent;
	color: $theme-primary-color;
	border: 2px solid $theme-primary-color;

	padding: 8px 30px;

	@include media-query(991px) {
		padding: 8px 25px;
	}

	@include media-query(767px) {
		padding: 7px 22px;
	}
}