.section-title {
	text-align: center;
	margin-bottom: 50px;
	
	@include media-query(767px) {
		margin-bottom: 40px;
	}

	h2 {
		font-size: 36px;
		font-size: calc-rem-value(36);
		color: #242c33;
		margin: -0.09em 0 0.33em;

		@include media-query(991px) {
			font-size: 30px;
			font-size: calc-rem-value(30);
		}

		@include media-query(767px) {
			font-size: 25px;
			font-size: calc-rem-value(25);
		}
	}

	p {
		margin: 0;
	}
}

.section-title-s2 {
	@extend .section-title;
	text-align: left;

	@include media-query(991px) {
		margin-bottom: 15px;
	}
}


.section-title-s3 {
	@extend .section-title-s2;

	h2 {
		color: $white;
	}
}

.section-title-s4 {
	
	@include media-query(991px) {
		margin-bottom: 15px;
	}


	> span {
		font-size: 18px;
		font-size: calc-rem-value(18);
		color: #74787d;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 3px;

		@include media-query(991px) {
			font-size: 16px;
			font-size: calc-rem-value(16);
		}

		@include media-query(767px) {
			font-size: 14px;
			font-size: calc-rem-value(14);
		}

	}

	h2 {
		font-size: 36px;
		font-size: calc-rem-value(36);
		color: #242c33;
		margin: 3px 0 0;

		@include media-query(991px) {
			font-size: 30px;
			font-size: calc-rem-value(30);
		}

		@include media-query(767px) {
			font-size: 25px;
			font-size: calc-rem-value(25);
		}
	}
}