/*--------------------------------------------------------------
#0.4	hero slider
--------------------------------------------------------------*/
.hero {
	position: relative;
	height: 100vh;
	overflow: hidden;

	@include media-query(767px) {
		min-height: 420px;
	}

	.slide {
		height: 100vh;
		position: relative;
		overflow: hidden;

		@include media-query(767px) {
			min-height: 420px;
		}

		background-repeat: no-repeat;
		position: relative;

		.slider-bg {
			display: none;
		}
	}

	.slide:focus {
		outline: none;
	}

	.slide .container {
		height: 100%;
		display: table;
	}

	.slide .row {
		display: table-cell;
		vertical-align: middle;
	}


	/** slider controls **/
	.slick-prev,
	.slick-next {
		z-index: 10;

		@include media-query(991px) {
			display: none !important;
		}
	}

	.slick-prev {
		left: 25px;

		@include media-query(1199px) {
			left: 15px;
		}

		&:before {
			font-family: "FontAwesome";
			content: "\f104";
			opacity: 1;
			font-size: 72px;
			font-size: calc-rem-value(72);

			@include media-query(1199px) {
				font-size: 52px;
				font-size: calc-rem-value(52);
			}
		}
	}

	.slick-next {
		right: 25px;

		@include media-query(1199px) {
			right: 15px;
		}

		&:before {
			font-family: "FontAwesome";
			content: "\f105";
			opacity: 1;
			font-size: 72px;
			font-size: calc-rem-value(72);

			@include media-query(1199px) {
				font-size: 52px;
				font-size: calc-rem-value(52);
			}
		}
	}

	.slick-dots {
		bottom: 50px;

		@include media-query(991px) {
			bottom: 30px;
		}

		// @include widther(992px) {
		// 	opacity: 0;
		// 	visibility: hidden;
		// }
	}

	.slick-dots li {
		margin: 0 3px;
	}

	.slick-dots li button {
		background-color: $white;
		width: 12px;
		height: 12px;
		margin: 0;
		border-radius: 50%;
		opacity: 0.8;
	}

	.slick-dots li.slick-active button {
		background-color: $theme-primary-color;
		opacity: 1;
	}

	.slick-dots li button:before {
		display: none;
	}
}


/*************************************
	hero style 1
****************************************/
.hero-style-1 {
	position: relative;
	height: 690px;

	@include media-query(991px) {
		height: 500px;
	}

	@include media-query(767px) {
		height: 420px;
	}

	.slide {
		height: 690px;
		position: relative;

		@include media-query(991px) {
			height: 500px;
		}

		@include media-query(767px) {
			height: 420px;
		}
	}

	.slide-caption h2 {
		font-size: 72px;
		font-size: calc-rem-value(72);
		color: $white;
		margin: 0 0 0.25em;

		@include media-query(991px) {
			font-size: 52px;
			font-size: calc-rem-value(52);
		}

		@include media-query(767px) {
			font-size: 35px;
			font-size: calc-rem-value(35);
		}

		span {
			font-size: 48px;
			font-size: calc-rem-value(48);
			font-weight: normal;
			display: block;

			@include media-query(991px) {
				font-size: 35px;
				font-size: calc-rem-value(35);
			}

			@include media-query(767px) {
				font-size: 25px;
				font-size: calc-rem-value(25);
			}
		}
	}

	.slide-caption p {
		font-size: 22px;
		font-size: calc-rem-value(22);
		line-height: 1.36em;
		color: $white;
		margin: 0 0 2.95em;

		@include media-query(991px) {
			font-size: 18px;
			font-size: calc-rem-value(18);
			margin: 0 0 2em;
		}

		@include media-query(767px) {
			font-size: 17px;
			font-size: calc-rem-value(17);
			margin: 0 0 2em;
		}
	}


	/*** hero slider animation ***/
	.hero-slider .slide-caption > h2,
	.hero-slider .slide-caption > p,
	.hero-slider .slide-caption > .btns {
		opacity: 0;
	}

	.hero-slider .slick-list .slick-current .slide-caption > h2 {
		-webkit-animation: fadeInLeftSlow 1.5s 0.8s forwards;
		-moz-animation: fadeInLeftSlow 1.5s 0.8s forwards;
		-o-animation: fadeInLeftSlow 1.5s 0.8s forwards;
		-ms-animation: fadeInLeftSlow 1.5s 0.8s forwards;
		animation: fadeInLeftSlow 1.5s 0.8s forwards;
	}

	.hero-slider .slick-list .slick-current .slide-caption > p {
		-webkit-animation: fadeInLeftSlow 1.5s 1.4s forwards;
		-moz-animation: fadeInLeftSlow 1.5s 1.4s forwards;
		-o-animation: fadeInLeftSlow 1.5s 1.4s forwards;
		-ms-animation: fadeInLeftSlow 1.5s 1.4s forwards;
		animation: fadeInLeftSlow 1.5s 1.4s forwards;
	}

	.hero-slider .slick-list .slick-current .slide-caption > .btns {
		-webkit-animation: fadeInLeftSlow 1.5s 1.8s forwards;
		-moz-animation: fadeInLeftSlow 1.5s 1.8s forwards;
		-o-animation: fadeInLeftSlow 1.5s 1.8s forwards;
		-ms-animation: fadeInLeftSlow 1.5s 1.8s forwards;
		animation: fadeInLeftSlow 1.5s 1.8s forwards;
	}
}


/*************************************
	hero style 2
****************************************/
.hero-style-2 {
	@extend .hero-style-1;

	height: 820px;

	@include media-query(991px) {
		height: 500px;
	}

	@include media-query(767px) {
		height: 420px;
	}

	.slide {
		height: 820px;

		@include media-query(991px) {
			height: 500px;
		}

		@include media-query(767px) {
			height: 420px;
		}
	}

	@include widther(992px) {
		.slide .row .col {
			margin-top: 100px;
		}
	}
}


/*************************************
	hero style 3
****************************************/
.hero-style-3 {
	@extend .hero-style-2;
	text-align: center;
}