/*--------------------------------------------------------------
	#projects single page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#9.1	project-single-section
--------------------------------------------------------------*/
.project-single-section {

	.project-single-details {
		padding: 60px 50px;
		border-radius: 5px;

		@include media-query(1199px) {
			padding: 40px 30px;
		}

		@include media-query(991px) {
			padding: 0;
			margin-top: 50px;
		}

	}

	.project-single-details h3 {
		font-size: 30px;
		font-size: calc-rem-value(30);
		margin: 0 0 0.75em;

		@include media-query(991px) {
			font-size: 20px;
			font-size: calc-rem-value(20);
		}
	}

	.project-info {
		list-style-type: none;
		padding-top: 40px;

		@include media-query(991px) {
			padding-top: 20px;
		}

		li {
			font-size: 15px;
			font-size: calc-rem-value(15);
			color: $text-color;

			@include media-query(767px) {
				font-size: 14px;
				font-size: calc-rem-value(14);
			}

			span {
				color: #051829;
				font-weight: 600;
			}
		}

		> li + li {
			margin-top: 13px;
		}

		i {
			color: $theme-primary-color;
			display: inline-block;
			padding-right: 5px;
		}
	}
}


/*--------------------------------------------------------------
#9.2	project-single-wrok-process
--------------------------------------------------------------*/
.project-single-wrok-process {
	.grids {
		overflow: hidden;
	}

	.grid {
		width: 33.33%;
		float: left;
		overflow: hidden;
		position: relative;

		@include media-query(1600px) {
			width: 50%;
		}

		@include media-query(991px) {
			width: 100%;
			float: none;
		}
	}

	.grid .img-holder,
	.grid .details {
		width: 50%;
		float: left;

		@include media-query(600px) {
			width: 100%;
			float: none;
		}
	}

	.grid .img-holder {
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;

		@include media-query(600px) {
			position: relative;
			height: 200px;
		}
	}

	.grids > .grid:first-child .img-holder {
		@include background-style("../images/project-single/img-1.jpg", center center, cover, no-repeat, local);
	}

	.grids > .grid:nth-child(2) .img-holder {
		@include background-style("../images/project-single/img-2.jpg", center center, cover, no-repeat, local);
	}

	.grids > .grid:nth-child(3) .img-holder {
		@include background-style("../images/project-single/img-3.jpg", center center, cover, no-repeat, local);
	}

	.grid .details {
		background-color: $theme-secondary-color;
		padding: 65px 40px;
		color: $white;
		position: relative;
		left: 50%;

		@include media-query(991px) {
			padding: 45px 30px;
		}

		@include media-query(600px) {
			left: 0;
			padding: 30px 20px;
		}
	}

	.grids > .grid:nth-child(2) .details {
		background-color: #4182b0;
	}

	.grids > .grid:nth-child(3) .details {
		background-color: $theme-primary-color;
	}

	.details h3 {
		font-size: 24px;
		font-size: calc-rem-value(24);
		color: $white;
		margin: 0 0 1em;

		@include media-query(991px) {
			font-size: 20px;
			font-size: calc-rem-value(20);
		}

		@include media-query(767px) {
			font-size: 18px;
			font-size: calc-rem-value(18);
		}
	}

	.details p {
		color: $white;
		margin-bottom: 2em;
	}

	.details .number {
		font-size: 24px;
		font-size: calc-rem-value(24);

		@include media-query(991px) {
			font-size: 20px;
			font-size: calc-rem-value(20);
		}

		@include media-query(767px) {
			font-size: 18px;
			font-size: calc-rem-value(18);
		}
	}
}