/*--------------------------------------------------------------
	#services page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#7.1	all-services-section
--------------------------------------------------------------*/
.all-services-section {
	padding-bottom: 50px;

	@include media-query(991px) {
		padding-bottom: 40px;
	}

	@include media-query(767px) {
		padding-bottom: 30px;
	}

	.services-grids {
		margin: 0 -15px;
		overflow: hidden;
		@include media-query(767px) {
			margin: 0 -10px;
		}
	}

	.services-grids .grid {
		width: calc(33.33% - 30px);
		float: left;
		margin: 0 15px 30px;
		border-radius: 3px;

		@include media-query(991px) {
			width: calc(50% - 30px);
		}

		@include media-query(767px) {
			width: calc(50% - 20px);
			margin: 0 10px 30px;
		}

		@include media-query(600px) {
			width: calc(100% - 30px);
			float: none;
		}
	}

	.grid .img-overlay {
		position: relative;
		overflow: hidden;
	}

	.grid .overlay {
		background-color: transparentize($theme-primary-color, 0.3);
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: calc(100% - 5px);
		@include transition-time(0.5s);
	}

	.grid:hover .overlay {
		top: 0;
	}

	.grid .overlay a {
		background-color: $white;
		width: 45px;
		height: 45px;
		line-height: 45px;
		font-size: 24px;
		font-size: calc-rem-value(24);
		color: $theme-primary-color;
		text-align: center;
		border-radius: 5px;
		position: absolute;
		left: 50%;
		top: 50%;
		@include center-by-translating();

		@include media-query(767px) {
			width: 40px;
			height: 40px;
			line-height: 40px;
			font-size: 20px;
			font-size: calc-rem-value(20);
			border-radius: 3px;
		}
	}

	.grid .details {
		padding: 23px 23px 15px;

		@include media-query(1199px) {
			padding: 23px 15px 15px;
		}

		@include media-query(767px) {
			padding: 23px 5px 15px;
		}
	}

	.grid .details h3 {
		font-size: 26px;
		font-size: calc-rem-value(26);
		font-weight: 500;
		color: #242c33;
		margin: 0 0 0.35em;

		@include media-query(1199px) {
			font-size: 20px;
			font-size: calc-rem-value(20);
		}

		@include media-query(767px) {
			font-size: 18px;
			font-size: calc-rem-value(18);
		}
	}

	.grid .details p {
		margin-bottom: 1.7em;
	}

	.grid .read-more {
		padding-top: 17px;
		border-top: 1px solid #efefef;

		a {
			font-family: $heading-font;
			font-weight: 500;
			color: #242c33;
		}

		a:hover {
			color: $theme-primary-color;
		}
	}

}