/*--------------------------------------------------------------
	#testimonials page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#4.1	all-testimonials-section
--------------------------------------------------------------*/
.all-testimonials-section {
	padding-bottom: 33px;

	@include media-query(991px) {
		padding-bottom: 23px;
	}

	@include media-query(767px) {
		padding-bottom: 25px;
	}

	.testimonials-section-title {
		border-bottom: 1px solid #e1e1e1;

		@include media-query(991px) {
			padding-bottom: 25px;
		}
	}

	.section-title-s2 {
		margin-bottom: 30px;
	}

	.testimonials-grids {
		overflow: hidden;
		padding-top: 65px;
		margin: 0 -15px;

		.grid {
			width: 50%;
			float: left;
			padding: 0 15px 67px;

			@include media-query(991px) {
				width: 100%;
				float: none;
			}

			@include media-query(991px) {
				padding: 0 15px 55px;
			}
		}
	}


	.grid .details {
		position: relative;

		&:before {
			content: "";
			@include background-style("../images/testimonials/quote.png", center center, auto, no-repeat, local);
			width: 35px;
			height: 25px;
			position: absolute;
			right: 0;
			top: 0;

			@include media-query(991px) {
				display: none;
			}
		}
	}

	.grid .details h3 {
		font-size: 24px;
		font-size: calc-rem-value(24);
		color: #242c33;
		margin: 0 0 6px;
		line-height: 1.3em;
		padding-right: 45px;

		@include media-query(991px) {
			font-size: 20px;
			font-size: calc-rem-value(20);
			padding-right: 0;
		}

		@include media-query(767px) {
			font-size: 17px;
			font-size: calc-rem-value(17);
		}
	}

	.details .client-info {
		font-family: $heading-font;
		font-size: 16px;
		font-size: calc-rem-value(16);
		font-weight: 500;
		color: #74787d;
		display: block;
		margin-bottom: 15px;

		@include media-query(767px) {
			font-size: 15px;
			font-size: calc-rem-value(15);
		}
	}

	.details p {
		margin-bottom: 1.5em;
	}

	.rating i {
		color: $theme-primary-color;
	}

}